* {
	margin: 0;
	padding: 0;
}

/*body {
	height: 6000px;
}*/

.lift-nav {
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	z-index: 99999;
}

.lift-nav li {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	padding: 10px 10px;
	margin-bottom: 10px;
	/*background: skyblue;*/
	cursor: pointer;
	list-style-type:none;
}

.lift-nav li.current {
	background: #C0C0C0;
}

.t1,
.t2,
.t3,
.t4,
.t5{
	width: 100%;
/*	height: 80px;*/	
	text-align: center;
	/*line-height: 40px;*/	
	margin-bottom: 10px;
	padding-top: 10px;
	color: #fff;
}

.t1 .title{
	color: #000000;
}

.t2 {
	/*background: pink;*/
	background: url(../../img/menuImage/BG_Y.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

.t3 .title{
	color: #000000;
}

.t4 {
	background: url(../../img/menuImage/BG_W.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

.t5 .title{
	color: #000000;
}

.t6 {
	background: seagreen;
}

/*自己添加的部分*/
.container_change{
	padding-left: 50px;
	padding-right: 50px;
}

.title_box{
	padding:0;
}

.title{
	width: 33.3%;
	font-size:65%;
	font-style: italic ;
	font-weight: bold;
	line-height: 100%;
	text-align: center;
	float: left;
	display: inline;
}

/*.height_280px{
	height: 310px;
}*/

.caption h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.caption p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
